.offer__head {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 2%;
}

#kauf-offers__list {
  margin: 0 auto;
  text-align: center;
}

.offer__list__image {
  width: 5rem;
}

.offer__form {
  margin: 0 auto;
  width: 80%;
}

.offer__form__input {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
}

.offer__form__input label {
  font-weight: 600;
  padding-bottom: 0.2rem;
}

.offer__form__group {
  display: flex;
  justify-content: space-between;
}

.offer__form__group .offer__form__input {
  width: 45%;
}

.offer__form__submit {
  float: right;
  font-size: 1rem;
  margin: 2rem 0;
  width: 5rem;
}
